button:hover {
    background-color: honeydew;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #487f20;
    margin: 15px 20px;
}

.conteudo-cadastro {
    background-color:white;
    width: fit-content;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-cadastro {
    width: 90%;
    height: max;
    padding: 6px;
    margin-top: 5px;
    border: gray solid 1px;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
  }

  label {
    margin-top: 10px;
  }