button:hover {
  background-color: honeydew;
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #487f20;
  margin: 15px 20px;
}

textarea,
.input-contato {
  width: 90%;
  height: max;
  padding: 6px;
  margin-top: 5px;
  border: gray solid 1px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
}

label {
  margin-top: 10px;
}

.button-contato {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  margin: 15px;
  padding: 3px 6px;
  border-radius: 5px;
}

.button-contato:hover {
    background-color: honeydew;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
